matplotlib
monai[einops]
nibabel
numpy
open3d
pandas
pydicom
pylibjpeg[libjpeg,openjpeg,rle]
PyWavelets
pytorch_lightning
scikit-learn
scikit-multilearn
torchtyping
tensorboardx
torch_scatter
type_extensions