matplotlib~=3.9.4
monai[einops]~=1.4.0
nibabel~=5.3.2
numpy~=1.26.4
open3d~=0.18.0
pandas~=2.3.0
pydicom~=2.4.4
pylibjpeg[libjpeg,openjpeg,rle]
PyWavelets~=1.6.0
torch~=2.2.2
torch_scatter
torchmetrics==1.6.0
torchtyping~=0.1.5
pytorch_lightning~=2.5.1.post0

scikit-learn~=1.6.1
scikit-multilearn~=0.2.0
tensorboardx
type_extensions
scipy~=1.13.1
tqdm~=4.67.1
PyYAML~=6.0.2