matplotlib
monai[einops]
nibabel
numpy
open3d
pandas
pydicom
pylibjpeg[libjpeg,openjpeg,rle]
PyWavelets
torch
torch_scatter
torchmetrics==1.6.0
torchtyping
pytorch_lightning

scikit-learn
scikit-multilearn
tensorboardx
type_extensions